---
import Layout from "../layouts/Layout.astro"
import Intro from "../components/Intro.astro"
import Experience from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import OtherProjects from "../components/OtherProjects.astro"
import SobreMi from "../components/SobreMi.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Skills from "../components/Skill.astro"

import BriefcaseIcon from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import CodePlusIcon from "../components/icons/CodePlus.astro"
import SobreMiIcon from "../components/icons/AboutMe.astro"
---

<Layout
  title={`Porfolio de Alejandro Bordón -
   Ingeniero y Desarrollador de software con más de 1 año de experiencia`}
  description={`¡Hola! Soy Alejandro Rafael Bordón Duarte, 
  un desarrollador full stack con más de un año de experiencia y 
  estudiante próximo a graduarme en Ingeniería Informática en la UIB. 
  Mi pasión por el front-end y las soluciones blockchain ha definido
  mi enfoque, permitiéndome crear interfaces atractivas y 
  explorar innovaciones tecnológicas. 
  Actualmente, estoy en búsqueda de nuevas oportunidades
  laborales para aplicar mis habilidades y contribuir a 
  proyectos significativos. 
  ¡Estoy emocionado por el futuro y ansioso por unirme a 
  equipos dinámicos y visionarios!`}
>
  <main class="px-4">
    <SectionContainer id="top" class="py-16 md:py-36">
      <Intro>
        
      </Intro>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center
      text-gray-600 dark:text-gray-400">
        <BriefcaseIcon class="size-8" /> Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center
      text-gray-600 dark:text-gray-400">
        <CodeIcon class="size-8" /> Mis Proyectos Destacados
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="otros-proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center
      text-gray-600 dark:text-gray-400">
        <CodePlusIcon class="size-8" /> Otros Proyectos
      </h2>
      <OtherProjects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center
      text-gray-600 dark:text-gray-400">
        <SobreMiIcon class="size-8" /> Sobre Mí
      </h2>
      <SobreMi />
    </SectionContainer>

    <SectionContainer id="skill">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center
      text-gray-600 dark:text-gray-400">
        <SobreMiIcon class="size-8" /> Skills
      </h2>
      <Skills />
    </SectionContainer>
  </main>
</Layout>
