---
import { date } from "astro/zod";
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCE = [
  {
    date: "Febrero 2022",
    title: "FullStack Developer",
    company: "TourfeelingLabs tecnologies SL",
    description: "LOREMP IPSUM LOREM IPSUM",
    link: "#",
  },
  {
    date: "Febrero 2021",
    title: "Principal Frontend Engineer",
    company: "Netflie",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creaci칩n y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantaci칩n de medidas de integraci칩n continua y despliegue con A/B testing en m치s de 15 equipos.",
    link: "#",
  },
];
---

<ol class="relative mt-14">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItems {...experience} />
      </li>
    ))
  }
</ol>
