---
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:miduga@gmail.com",
  },
]
---

<header class="fixed top-0 z-10 flex justify-center items-center w-full mt-2 mx-auto">
  <nav class="flex px-3 text-sm font-bold rounded-full text-gray-500
  dark:text-gray-200 justify-center items-center border-2 border-pink-400 
  dark:border-pink-600 hover:scale-105 transitionc backdrop-blur-lg">
  {
    navItems.map((link) => (
      <a
        class="relative block px-2 py-2 
        transition hover:text-sky-600
         dark:hover:text-sky-400 hover:scale-110"
        aria-label={link.label}
        href={link.url}
      >
        {link.title}
      </a>
    ))
  }
  <ThemeToggle />
  </nav>
</header>
