---
const personalImageAlt = "Miguel Ángel";
---

<div class="mt-14 mb-10">
  <article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
  >
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-pink-500 dark:[&>p>strong]:text-pink-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >

      <p>
        Soy Alejandro, un apasionado ingeniero informático de 22 años en la
        recta final de mi formación académica. <strong>
          Mi trayectoria profesional comenzó temprano, sumando más de un año de
          experiencia como desarrollador web en el dinámico mundo de las
          startups.</strong
        >Esta oportunidad me ha permitido liderar proyectos completos, desde la
        conceptualización y toma de requisitos hasta la emocionante etapa de
        lanzamiento al mercado.
      </p>

      <p>
        Mi participación en la creación de TripResale es uno de mis logros más
        destacados. En este proyecto, tuve el privilegio de integrar la
        tecnología blockchain en el sector hotelero, lo que permite la
        comercialización de estancias no reembolsables, convirtiendolas en
        reservas revendibles. <strong
          >Este innovador enfoque no solo me ha brindado reconocimiento
          profesional, sino que también elegí presentarlo como mi trabajo de fin
          de grado, reflejando mi compromiso y habilidad para aplicar soluciones
          tecnológicas avanzadas en entornos reales.</strong
        >
      </p>

      <p>
        Como profesional, me defino por mi alta motivación y constante búsqueda
        de desafíos que amplíen mi horizonte de habilidades. Aunque mi enfoque
        principal ha sido el desarrollo web, mi curiosidad y entusiasmo por la
        tecnología blockchain me impulsan a explorar su aplicación en áreas que
        generen un impacto significativo. Además, tengo un interés particular en
        especializarme aún más en el área de desarrollo front-end, donde puedo
        combinar mi creatividad con mi base técnica para crear experiencias de
        usuario excepcionales.
      </p>
    </div>

    <img
      width="200"
      height="200"
      src="/perfil.webp"
      alt={personalImageAlt}
      class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
    />
  </article>
</div>
